


	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-12">
									<img src="public/images/PEPE_JEANS_LONDON_SS11_2.jpg" class="pepejeans img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-4">
									<h1><span>LATEX</span>SHOP</h1>
									<h2>PEPE JEANS LONDON</h2>
									<p>Tus marcas preferidas, ahora a sólo un clic de distancia</p>
									<button type="button" class="btn btn-default get">COMPRAR AHORA</button>
								</div>
								<div class="col-sm-8">
									<img src="public/images/4_zoom_3.jpg" class="caradelevigne img-responsive" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="col-sm-6">
									<h1><span>MÁSCARA DE </span>LATEX</h1>
									<h2>CALVIN KLEIN</h2>
									<p>Free Shipping</p>
									<button type="button" class="btn btn-default get">LO QUIERO</button>
								</div>
								<div class="col-sm-6">
									<img src="public/images/20160509_ht_hp_twentyoff_hero.jpg" class="oferta img-responsive" alt="" />
								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
					</div><!--features_items-->

					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active col-md-4"><a href="#tshirt" data-toggle="tab">Playeras</a></li>
								<li class="col-md-4"><a href="#gorras" data-toggle="tab">Gorras</a></li>
								<li class="col-md-4"><a href="#cases" data-toggle="tab">Cases</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tshirt" >
								<div class="col-sm-3" ng-repeat="c in camisetas">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{c.img}}" alt="" />
												<h2>$ {{c.productPrice}}</h2>
												<p>{{c.productName}}</p>
												<a ng-click="agregarObjeto(c._id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>

										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="gorras" >
								<div class="col-sm-3" ng-repeat="g in gorras">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{g.img}}" alt="" />
												<h2>$ {{g.productPrice}}</h2>
												<p>{{g.productName}}</p>
												<a ng-click="agregarObjeto(g._id)"class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>

										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="cases" >
								<div class="col-sm-3" ng-repeat="ca in cases">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ca.img}}" alt="" />
												<h2>$ {{ca.productPrice}}</h2>
												<p>{{ca.productName}}</p>
												<a ng-click="agregarObjeto(ca._id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>

										</div>
									</div>
								</div>
							</div>
								</div>
					</div><!--/category-tab-->

					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<div class="col-sm-4"  ng-repeat="p in productosTienda">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{p.img}}" alt="" />
													<h2>{{p.productPrice}}</h2>
													<p>{{p.productName}}</p>
													<a ng-click="agregarObjeto(p._id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->

				</div>
			</div>
		</div>
	</section>
